{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  {{! As you add new fields, add them in here! }}
  <div class='resource'>
	{{log "lwed part system" system}}
    <label class='resource-label align-center'>{{localize 'EXTRICATE.Item.Lewd.FIELDS.cost.label'}}</label>
	
    <div class='grid grid-5col'>
	  {{#each system.lewdCost as |costName key|}}
		<div class='grid-span-1'>
			<label class='resource-label align-center'>
				{{localize (lookup @root.config.lewdCost key)}}
			</label>
			{{#unless (eq key "any")}}
				<img 
					class="icon"
					src="systems/extricate/assets/icons/{{key}}-icon.svg"
					height="50"
					width="50"
					/>
			{{/unless}}
			{{#if (eq key "any")}}
				<img 
					class="icon"
					src="systems/extricate/assets/icons/{{key}}-icon.png"
					height="50"
					width="50"
				/>
			{{/if}}
        <input
          type='text'
          name='system.lewdCost.{{key}}.value'
          value='{{costName.value}}'
          data-dtype='Number'
        />
		{{log key this.value}}
		
      </div>
		{{log costName}}
		{{log key}}
	  {{/each}}
    </div>
  </div>
  <label 
    class="lewd-btn pink-color rollable"
	data-action="useLewdSkill"
	data-roll-type="item"
	data-label="translation needed"
  >use skill(translate)</label>
  <section>
		{{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
		{{#if editable}} 
			<prose-mirror 
			name="system.description" 
			data-document-u-u-i-d="Item.{{item.id}}" 
			value="{{system.description}}"
			toggled="true"
			>
			{{{enrichedDescription}}}
			</prose-mirror>
		{{else}} {{{enrichedDescription}}}
		{{/if}}
	</section>
</section>