{{! Features Tab }}
<section
  class='tab features {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
<div class="features-background"></div>
<div class="features-header">
	<div class="ability-box">
        {{#each system.abilities as |ability key|}}
		{{log "ability key:" key}}
		{{log "ability ability:" ability}}
        <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.value'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{localize (lookup @root.config.abilities key)}}</label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              class="ability-score"
              data-dtype='Number'
            />
			{{!--             
			<span
              class='ability-mod rollable'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{numberFormat ability.mod decimals=0 sign=true}}</span>
			--}}
        </div>
        {{/each}}
	</div>
	<div class="item-box">
		<section class='main grid-span-2 item-list'>
			<ol class='items-list'>
				<li class='item flexrow items-header'>
				<div class='item-name'>{{localize 'Name'}}</div>
				<div class='item-controls'>
					{{#if @root.editable}}
					<a
						class='item-control item-create'
						title='Create item'
						data-action='createDoc'
						data-document-class='Item'
						data-type='feature'
					>
						<i class='fas fa-plus'></i>
						{{localize 'DOCUMENT.New' type='feature'}}
					</a>
					{{/if}}
				</div>
				</li>
				{{#each features as |item id|}}
				<li
					class='item flexrow'
					data-item-id='{{item._id}}'
					data-drag='true'
					data-document-class='Item'
				>
					<div class='item-name'>
					<div class='item-image'>
						<a class='rollable' data-roll-type='item' data-action='roll'>
						<img
							src='{{item.img}}'
							title='{{item.name}}'
							width='24'
							height='24'
						/>
						</a>
					</div>
					<div>{{item.name}}</div>
					</div>
					<div class='item-controls'>
					<a
						class='item-control item-edit'
						title='{{localize "DOCUMENT.Update" type='feature'}}'
						data-action='viewDoc'
					>
						<i class='fas fa-edit'></i>
					</a>
					{{#if @root.editable}}
						<a
						class='item-control item-delete'
						title='{{localize "DOCUMENT.Delete" type='feature'}}'
						data-action='deleteDoc'
						>
						<i class='fas fa-trash'></i>
						</a>
					{{/if}}
					</div>
				</li>
				{{/each}}
			</ol>
		</section>
	</div>
</div>

  <section class='grid grid-3col grid-3colskill'>
    <aside class='sidebar'>
      <div class='abilities flexcol'> 
	  <div class='skills grid-2col'>
		{{#each system.metSkills as |skill key|}} 
		{{log "skill skill:" skill}}
		{{log "skill key:" key}}
          <div class='skills flexcol flex-group-center'>
            <input
              type='text'
              name='system.metSkills.{{key}}.value' {{!-- important for saving value on sheet --}}
              value='{{skill.value}}'
              class='skill-value'
              data-dtype='Number'
            />
			<label
              class='resource-label rollable align-center skill-btn'
              data-action='skillSelect'
			  id="metSkills.{{key}}"
{{!--               data-roll='d20+@skills.{{key}}.value' --}}
			  data-roll-type='skill'
              data-label='{{localize (lookup @root.config.skills.mettle key)}}'
            >{{localize (lookup @root.config.skills.mettle key)}}</label>
          </div>
        {{/each}}
		{{#each system.agiSkills as |skill key|}} 
          <div class='skills flexcol flex-group-center'>
            <input
              type='text'
              name='system.agiSkills.{{key}}.value'
              value='{{skill.value}}'
              class='skill-value'
              data-dtype='Number'
            />
			<label
              class='resource-label rollable flexlarge align-left skill-btn'
			  data-action='skillSelect'
			  id="agiSkills.{{key}}"
			  data-label='{{localize (lookup @root.config.skills.agility key)}}'
            >{{localize (lookup @root.config.skills.agility key)}}</label>
          </div>
        {{/each}}
	</div>
	<div class='roll-btn rollable'
		data-action='roll'
		data-roll-type='skill'
		>Roll
	</div>
    </aside>

<div class='abilities flexcol'> 
	<div class='skills grid-2col bottom-skills'>
		{{#each system.intSkills as |skill key|}} 
          <div class='skills flexcol flex-group-center'>
            <input
              type='text'
              name='system.intSkills.{{key}}.value'
              value='{{skill.value}}'
              class='skill-value'
              data-dtype='Number'
            />
			<label
              class='resource-label rollable flexlarge align-left skill-btn'
			  data-action='skillSelect'
			  id="intSkills.{{key}}"
			  data-label='{{localize (lookup @root.config.skills.intellect key)}}'
            >{{localize (lookup @root.config.skills.intellect key)}}</label>
          </div>
        {{/each}}
		{{#each system.witSkills as |skill key|}} 
          <div class='skills flexcol flex-group-center'>
            <input
              type='text'
              name='system.witSkills.{{key}}.value'
              value='{{skill.value}}'
              class='skill-value'
              data-dtype='Number'
            />
			<label
              class='resource-label rollable flexlarge align-left skill-btn'
			  data-action='skillSelect'
			  id="witSkills.{{key}}"
			  data-label='{{localize (lookup @root.config.skills.wit key)}}'
            >{{localize (lookup @root.config.skills.wit key)}}</label>
          </div>
        {{/each}}
	</div>
</div>
  

    {{! For the main features list, span the right two columns }}


  </section>
</section>