{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
	{{log actor.img}}
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>

    <div class='resources grid grid-4col'>
      <div class='resource flex-group-center'>
        <label for='system.health.value' class='resource-label'>
          {{localize 'EXTRICATE.Actor.base.FIELDS.health.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.health.value'
            value='{{system.health.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.health.max'
            value='{{system.health.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.barrier.value' class='resource-label'>
          {{localize 'EXTRICATE.Actor.base.FIELDS.barrier.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.barrier.value'
            value='{{system.barrier.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.barrier.max'
            value='{{system.barrier.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

	  <div class='resource flex-group-center'>
        <label for='system.lewd.value' class='resource-label'>
          {{localize 'EXTRICATE.Actor.base.FIELDS.lewd.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
			{{log "system" system}}
          <input
            type='text'
            name='system.lewd.value'
            value='{{system.lewd.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.lewd.max'
            value='{{system.lewd.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        {{#if (eq actor.type 'character')}}
          <label class='resource-label'>
            {{localize 'EXTRICATE.Actor.Character.FIELDS.attributes.level.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.attributes.level.value'
              value='{{system.attributes.level.value}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
        {{#if (eq actor.type 'npc')}}
          <label class='resource-label'>
            {{localize 'EXTRICATE.Actor.NPC.FIELDS.cr.label'}} / {{localize 'EXTRICATE.Actor.NPC.xp.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.cr'
              value='{{system.cr}}'
              data-dtype='Number'
            />
            <span></span>
            <input
              type='text'
              disabled='true'
              name='system.xp'
              value='{{system.xp}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</header>