{{! lewd Tab }}
<section
  class='tab lewd {{tab.cssClass}}'
  data-group='primary'
  data-tab='lewdtab'
>
<div class="flexrow">
	<div class="lewd-background">lewd skills</div>
	<div class="flex-group-right">{{system.lewdPoints.label.label}}</div>
</div>
<div class="grid-container">
	<div class="lewd-header grid-5row">
		{{#each system.lewdAbilities as |ability key|}}
			<div class="lewd-ability flexrow flex-group-left">
				<label
				class="lewd-btn pink-color rollable align-left"
				data-action="skillSelect"
				id="{{key}}"
				data-roll-type="skill"
				data-label="{{localize (lookup @root.config.lewdAbilities key)}}"
				>{{localize (lookup @root.config.lewdAbilities key)}}
				</label>
				<input
					type="text"
					name="system.lewdAbilities.{{key}}.value"
					value="{{ability.value}}"
					class="ability-score"
					data-dtype="Number"
				/>	
			</div>
		{{/each}}
		{{#each system.lewdPoints as |object typeName|}}
		{{log object}}
			{{#unless (eq typeName "label")}}
				<div class="flexrow flex-group-right">
					<label class= "flexlarge item">
						<img 
						src="systems/extricate/assets/icons/{{typeName}}-icon.svg"
						height="40"
						width="40"
						/>
					</label>
					<input 
					type="text"
					name="system.lewdPoints.{{typeName}}.value"
					value="{{object.value}}"
					class="ability-score"
					data-dtype="Number"
					/>
				</div>
			{{/unless}}
		{{/each}}

			
</div>
  <ol class='items-list'>
	<li class='item flexrow items-header'>
		<div>{{localize 'Name'}} </div>
		<div>skills </div>
		<div>bonus</div>
		<div>
		  {{#if @root.editable}}
            <a
			  class='item-control item-create'
			  title='{{localize "EXTRICATE.Item.Lewd.addLewd" type='item'}}'
			  data-action='createDoc'
			  data-document-class='Item'
			  data-type='LewdMove'
			>
            <i class='fas fa-plus'></i>
            {{localize 'EXTRICATE.Item.Lewd.addLewd' type='item'}}
          </a>
        {{/if}}
		</div>
	</li>
	{{log "WHAT IS this" this}}
	{{log "this gear" this.gear}}
	{{log "LewdMove" this.LewdMove}}
	{{log "just lewdmove" LewdMove}}

	{{#each LewdMove as |item id|}}
      <li
        class='item flexrow'
        data-item-id='{{item._id}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='item-name'>
          <div class='item-image fa-dice-d20'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>

		<div>
		  {{log "inspecting item" item}}
		  {{log "outside select id" item.id}}
		  <select 
		  data-item-id="{{this.id}}" 
		  name="system.skillRoll.skill1"
		  class="lewd-dropdown"
		  >
			{{log "inside select id" item.id}}
			{{selectOptions system.validSkills selected=item.system.skillRoll.skill1 localize=true}}
		  </select>
		</div>
		<div>
		  <select 
		  data-item-id="{{this.id}}" 
		  name="system.skillRoll.skill2"
		  class="lewd-dropdown"
		  >

		  {{selectOptions system.validSkills selected=item.system.skillRoll.skill2 localize=true}}

		  </select>
		</div>

		<input
		  data-item-id="{{this.id}}"
		  type="text"
		  name="system.skillRoll.bonus"
		  value="{{system.skillRoll.bonus}}"
		  data-dtype="Number"
		/>

        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type='LewdMove'}}'
            data-action='viewDoc'
          >
            <i class='fas fa-edit'></i>
          </a>
          {{#if @root.editable}}
            <a
              class='item-control item-delete'
              title='{{localize "DOCUMENT.Delete" type='LewdMove'}}'
              data-action='deleteDoc'
            >
              <i class='fas fa-trash'></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}

  </ol>
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
</section>